{% extends "recommendations.html" %}

{% block body %}
<div class="rec_wrapper">
  {% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="alert alert-success">
			<ul class="flashes">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endwith %}


 <div class="container" style="margin-left: 5px; width: 100%; float:left;"> 
    <h2 align="center"> Available courses based on your interests</h2>
    <h5 align= 'center' class="minorheading"> <strong>Only interests rated 4 and 5 will have courses displayed.</strong><br>If no courses are displayed under a heading, you either do not have the prerequisites for the courses or the courses are not offered in this semester. </h5>
    {% for lst in division %}<div class='interestheading'>{{ lst[0] }} <span style="float:right" id ="bottom" class="glyphicon glyphicon-triangle-bottom"></span><span style="float:right" id="top" class="glyphicon glyphicon-triangle-top"></span></div>
    {% for course,desc,grade,title in interest_recommend %}
                {% if course in lst[1] %}
    <div class= 'course_container'>
 	  <div class="course_icon" onclick ="add('{{course}}')" id='{{course}}'>
    
     <p>{{course}}</p>
 	  </div>
 	  
    <div class= 'course_content'>
    	<p class= 'course_desc'>
    		<span class="course_title"> {{title}} </span> <br>
			
			<span class="cdesc"> {{desc}} </span>
			<div class="pred_grade">{% for g in grade %}{{g|safe}}{% endfor %}</div>
    	</p>
   </div>
    
   
    </div>
    
    
    
    
    {% endif %}
    {% endfor %}
    {% endfor %}
    
 </div>
{% endblock %}
