{% extends "recommendations.html" %}

{% block body %}
<div class="rec_wrapper">
 {% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="alert alert-success">
			<ul class="flashes">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
	
{% endwith %}
<h2>&nbsp; Available courses for your major</h2>
<br>
 <div class="container" style="margin-left: 5px; width: 100%; float:left;">
  {% for course,desc,grade,title in major_recommend %}
 <div class= 'course_container'>
 	<div class="course_icon" onclick ="add('{{course}}')" id='{{course}}'>
    	<!--<a href="#" title="{{desc}}"><input type="checkbox" name="recommendation" onchange ="addCourse(this)" value="{{course}}" >{{course}}</a>-->
 		<p>{{course}}</p>
 	</div>
   
    <div class= 'course_content'>
    	<p class= 'course_desc'>
    		<span class="course_title"> {{title}} </span> <br>
			
			<span class="cdesc"> {{desc}} </span>
			<div class="pred_grade">{% for g in grade %}{{g|safe}}{% endfor %}</div>
    	</p>
   </div>
    </div>
 {% endfor %}
 
   <br>
  	{% if compcredit == True %}
		 <div class="alert alert-success">
		 <strong>Success!</strong> You have met the 39 computing credits to graduate
	     </div>
 	{% else %}
	    <div class="alert alert-danger alert-dismissable fade in alert-link">
	    <a  href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong>Tip!</strong> {{compcredit|safe}}  </div>
  	{% endif %}
  
  
 
  </div>


  
  
</div>

  <br>
         <div>
     
      </div>
   
   
{% endblock %}
