{% extends "main.html" %}

{% block body %}
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="alert alert-success">
			<ul class="flashes">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endwith %}
 
      <div style=" float:left; text-align:left" class="mycontainer-fluid">
       <p class="myheading1" style="background-color: #373737;width:110%;color: white;height:100px">Degree Progression</p><br/> 
       
       
        <div class="container-fluid" id="bars">
            
            <h3>Total courses</h3>
            <div><span> {{creditscompleted}}/{{creditsfordegree}}</span></div>
            <div class="progress" >
              <div id ='myBtn3'  class="progress-bar progress-bar-danger progress-bar-striped active" style="width:{{a}}%">
                <strong><span >{{a}}% Complete </span></strong>
              </div>
              
            </div>
<!-- The Modal -->
<div id="myModal3" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <div class="modal-header">
    <span class="close3">&times;</span>
   Completed Overall Courses </div>
   <div class="modal-body">
   <ol>
         {% for key in courses %} 
               <li>{{key}}</li>
        {% endfor %}
        </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="bclose3">Close</button>
        </div>
</div>
</div>


   
        
        
     <br><h3>Major</h3>
     <div><span> {{major_credits_completed}}/{{major_credits}}</span></div>
     
     <div class="progress"> 
  <div class="progress-bar progress-bar-warning progress-bar-striped active" id ='myBtn' role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{x}}%">
  
   <strong><span >{{x}}% Complete</span></strong>
  </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <div class="modal-header">
    <span class="close">&times;</span>
    Completed Major Courses</div>
    <div class="modal-body">
     <ol>
         {% for key in major_courses_completed %} 
               <li>{{key}}</li>
        {% endfor %}
        </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="bclose">Close</button>
        </div>
  </div>

</div>


   
     
    <h3>Minor</h3>
    <div><span>{{minor_credits_completed}}/{{minor_credits}}</span></div>
      
    <div class="progress"> 
  <div class="progress-bar progress-bar-info progress-bar-striped active" id ='myBtn1' role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: {{y}}%">
    <strong><span >{{y}}% Complete</span></strong>
  </div>
</div>
<!-- The Modal -->
<div id="myModal1" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <div class="modal-header">
    <span class="close1">&times;</span>
    Completed Minor Courses</div>
    <div class="modal-body">
   <ol>
         {% for key in minor_courses_completed %} 
               <li>{{key}}</li>
        {% endfor %}
        </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="bclose1">Close</button>
        </div>
    </div>

</div>
    
    <h3>Foundation Courses</h3>
     <div><span>{{foundation_credits_completed}}/{{foundation_credits}}</span></div>
    <div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active"  id ='myBtn2' role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{z}}%">
    <strong><span>{{z}}% Complete</span></strong>
  </div>
</div>
<!-- The Modal -->
<div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
      <div class="modal-header">
    <span class="close2">&times;</span>
    
    Completed Foundation Courses</div>
     <div class="modal-body">
     <ol>
         
         {% for key in foundation_courses_completed %} 
               <li>{{key}}</li>
        {% endfor %}
        </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="bclose2">Close</button>
        </div>
     </div>

    </div>
</div>
       
       
        </div>
      </div>
 <div>
        {% include "footer.html" %}  
      </div>

        
{% endblock %}