<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Course Recommender System</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href ="/static/images/uwi_crest1.jpg">

   
    
    <link rel="stylesheet" href="/static/css/app.css">
    <link href="/static/css/profile.css" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block css %} {% endblock%}
    
  </head>
  <body  id="reccontent">
    <header>
    <nav  class="navbar navbar-default nav_style">
  
    <!-- Brand and toggle get grouped for better mobile display -->
   
      
      <a class="navbar-brand" href="/"><img style= "max-width:120px; max-height:70px" alt="Brand" src="/static/images/uwi_crest1.jpg"></a>
      <h2>UWI Course Recommender System</h2>
      
      <div style="padding-right: 2%"  >
      <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs navbar-right" role="tablist" >
    <li role="presentation" ><a href="/home/" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="/profile/" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation" class="activetab"><a href="/recommendations/" aria-controls="Recommendations" role="tab" data-toggle="tab">Recommendations</a></li>
    <li role="presentation"><a href="/progress/" aria-controls="Progress" role="tab" data-toggle="tab">Progress</a></li>
    <li role="presentation"><a href="/logout/" aria-controls="logout" role="tab" data-toggle="tab" onclick='emptySession()'>Log out</a></li>

  </ul>

  
      
      </div>
    </div>
    
    </nav>
    
    </header>
    <!--
     <div id="sidebar_weights" style= "width: 10%; float:left; padding-right: 10px; ">
     <span class="weight_label">Predicted Grade</span><input type="range" id="a" name="a" max='5' min='0' value ='3'/>
     <span class="weight_label">Course Rating</span><input type="range" id="a" name="a" max='5' min='0' value ='3'/>
     <span class="weight_label">Interest</span><input type="range" id="a" name="a" max='5' min='0' value ='3'/>
     
   </div> 
   -->
   <div>
   <div id="tabs">
     <!-- Nav tabs -->
  <ul  class="nav nav-pills nav-stacked" role="tablist" >
    <li role="presentation"><a href="/major/" aria-controls="home" role="tab" data-toggle="tab">Major</a></li>
    <li role="presentation"><a href="/minor/" aria-controls="profile" role="tab" data-toggle="tab">Minor</a></li>
        <li role="presentation"><a href="/foundation/" aria-controls="profile" role="tab" data-toggle="tab">Foundation</a></li>
    <li role="presentation"><a href="/interest/" aria-controls="" role="tab" data-toggle="tab">Interest</a></li>
    <li role="presentation"><a href="/ratings/" aria-controls="" role="tab" data-toggle="tab">Ratings</a></li>
     <li role="presentation"><a href="/search/" aria-controls="" role="tab" data-toggle="tab">Search <span class="glyphicon glyphicon-search"></span></a></li>
     <br><br><br><br><br><br>
     <li title="Select to customize your recommendations" ><button id="setting" class="btn btn-danger">Settings <span class="glyphicon glyphicon-cog"></span></button></li>

  </ul>
  
   </div>
   
  {% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="alert alert-success">
			<ul class="flashes">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endwith %}
    
   
   <div id="settingsinfo" >

   
        
<!--        <form method="POST" action="/recommendations">-->
<!--    <input name="foo" type="submit" value="Foo!">-->
<!--    <input name="bar" type="submit" value="Bar!">-->
<!--</form>-->
        Grade Prediction:<br><br>
        <form  action='/recommendations/' method="post">
        
        <input type="radio" id="f-option" name="gradeon" value="Yes">Yes
        <input type="radio" id="f-option" name="gradeon" value= "No">No
        
        <br><br>
        Range of Predicted grade:<br><br>
         <input type="radio" id="f-option" name="f-option" value="A+">A+<br>
         <input type="radio" id="f-option" name="f-option" value="A">A<br>
         <input type="radio" id="f-option" name="f-option" value="A-">A-<br>
         <input type="radio" id="f-option" name="f-option" value="B+">B+<br>
         <input type="radio" id="f-option" name="f-option" value="B">B<br>
         <input type="radio" id="f-option" name="f-option" value="B-">B-<br>
         <input type="radio" id="f-option" name="f-option" value="C+">C+<br>
         <input type="radio" id="f-option" name="f-option" value="C">C<br>
         <input type="radio" id="f-option" name="selector" >None<br><br>
           
       <!-- Range of ratings based on past students <br>  <br>
        <input  style="width:80%;"   class="range-slider__range" type="range" id="ratings" name="range" min="0" max="5"  step="1"/><br>-->
       
           <!--<button class="btn btn-danger" id="save" align="center" type="submit">Save</button> -->
           <input type="submit" name="settings" value="Save" class="btn btn-danger" id="save" align="center"/>
           <!--<button style="float:right;margin-right:20px" class="btn btn-danger" type="submit">Save</button>-->
        <button class="btn btn-default" id="setclose" align="center">Close</button>
     <br><br>
        </form>
  </div>

    <div id="selectedsectionn" class="container reccon">
    
    <h3 id="selectcoursesHeading">Selected Courses</h3>
   
    
    <form  action="/recommendations/" method="post">
     <div class="form-group">
     <div id ="choosen_courses"></div>
   <!--<br> <input style="width:300px;display: inline" type="hidden"  name="course" class="form-control" value="+ courses +" required >-->
    <div id="recbutcon">
        <!--<button style="float:right;margin-right:20px" class="btn btn-danger btn-block mybut" type="submit">Submit</button>-->
        <input type="submit" style="float:right;margin-right:20px" name="choosen_courses" value="Submit" class="btn btn-danger  mybut" id="save" />
  </div>
  </div>
  </form>
  <br><br>
    <div id="submitResponse">
    {% if selectedcred == '' or selectedcred is not defined %}
    
    {% else%}
 	
    {% if selectedcred == True %}
		 <div class="alert alert-success">
		 <strong>Success! Courses have been submitted and can be viewed on profile page</strong> 
	     </div>
 	 
 	{% else %}
 	
	    <div class="alert alert-danger alert-dismissable fade in alert-link">
	    <a  href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong>Tip!</strong> {{selectedcred|safe}}  </div>
	 
  	{% endif %} 
  		{% endif %} 
  		<br>
    </div>
   </div>

   
</div>
    
  </div>

   <div style='float:left' class='recommended'>
       {% block body %}
        
    {% endblock %}
   </div>
   
    
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src='{{ url_for("static", filename="js/angular.min.js") }}' charset="utf-8"></script>
    
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <script src='{{ url_for("static", filename="js/app.js") }}' charset="utf-8"></script>
     <script src="/static/js/app2.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/app4.js"></script>
    <script src="/static/js/jquery-3.2.1.js"></script>
    
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    {% block js %}{% endblock %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  
    <footer>
           {% include "footer.html" %}  
    </footer>
  </body>
  
</html>